@core/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
@core/bootstrap/
@core/app/storage/

# Laravel 5 & Lumen specific
@core/storage
@core/public/storage
@core/public/hot

@core/uploads

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot
assets/
storage/*.key
@core/.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
